.note-container {
  height: 100%;
}

.note-container h2 {
  margin-bottom: 20px;
}

.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}

/* Add styles to your NoteContainer.css */
.search_item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
